/*********** Identity Card*********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section.card {
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section .cardDiv {
  position: relative;
  width: 330px;
  height: 400px;
  background: #fff;
  box-shadow: 0 30px 60px rgba(43, 152, 255, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s;
}

body.dark section .cardDiv {
  background: #2e2e2e;
}

section .cardDiv .cardContent,
section .cardDiv .imgText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .cardDiv .imgText .imgBox {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

section .cardDiv .imgText .imgBox img {
  justify-content: center;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

section .cardDiv .imgText h3 {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: center;
  color: #2fa1ff;
}

section .cardDiv .imgText p {
  font-weight: 400;
  color: #777;
  font-size: 0.75em;
  transition: color 0.4s;
}

body.dark section .cardDiv .imgText p {
  color: #e9f5ff;
}

section .cardDiv .sci {
  display: flex;
  margin-top: 15px;
}

section .cardDiv .sci li {
  list-style: none;
}

section .cardDiv .sci li a {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #e9f5ff;
  color: #2fa1ff;
  display: flex;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.5s;
}
body.dark section .cardDiv .sci li a {
  background-color: #464646;
}
section .cardDiv .sci li a:hover {
  color: #fff;
}
section .cardDiv .sci li a .fa {
  position: relative;
  z-index: 1000;
}

section .cardDiv .sci li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2fa1ff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
}
section .cardDiv .sci li a:hover:before {
  transform: scale(1);
}

/*************** Night & Light Mode ***************/

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: rgb(31, 30, 30);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
  align-self: center;
  transition: background 0.3s;
}
body.dark .label {
  background-color: #e9f5ff;
}

.label .ball {
  background-color: #e9f5ff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: 0.5s linear;
  transition: background 0.7s;
}
body.dark .label .ball {
  background-color: #2e2e2e;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #252525;
}

.fa-sun {
  color: #e9f5ff;
}

/*Making dark mode button flex to go inline with the rest*/

#dark-mode-toggle {
  display: flex;
}
/*********************THE REST  *********************/
body.dark {
  background: rgb(32, 34, 34); /*#292c35;*/
}

body {
  background: #f0f8ff;
  transition: background 0.2s linear;
}

.icons2 {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 20px;
}

.mainIcons {
  display: inline-block;
  height: 330px;
  width: 35%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 40px;
}

header {
  background-image: url("Images/headerbg.jpg");
}

p {
  color: #2fa1ff;
  font-size: 25px;
  font-family: sans-serif;
}
h4 {
  color: rgb(34, 34, 34);
  text-align: center;
  font-size: 30px;
}
body.dark h4 {
  color: rgb(191, 255, 132);
}
/*
.iconTitle {
    color : rgb(255, 240, 28);
    font-size: 30px;
    text-decoration-line: none;
    
}*/

h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

body.dark h3 {
  color: rgb(28, 255, 168);
}
h2 {
  color: #e9f5ff;
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  height: 60px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 26.5%;
  border-radius: 30px;
  background-color: #2e2e2e;
  transition: ease-in-out 0.5s;
}

body.dark h2 {
  color: #2e2e2e;
  text-align: center;
  background-color: #e9f5ff;
}
/*
.myPhoto {
  height: 350px;
  width: 350px;
  border: 4px solid white;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}*/

.about {
  color: rgb(39, 39, 39);
  text-align: center;
}
body.dark .about {
  color: rgb(231, 123, 84);
}
nav {
  background-image: url("Images/crop.jpg");
  background-size: 2160px 1220px;
}

.icons1 {
  box-shadow: 0 0 15px rgb(247, 247, 247);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  margin-left: 60px;
}

.icons01:link,
.icons01:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 0, 170);
  border: rgb(255, 0, 170) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 1em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 rgb(255, 0, 170), 0 0 0.5em 0 rgb(255, 0, 170);
  font-size: 50px;
}

.icons01:hover,
.icons01:active {
  color: #e9f5ff;
  background-color: rgb(255, 0, 170);
  box-shadow: 0 0 100px rgb(255, 0, 170);
}

#form1 {
  height: 80%;
  width: 80%;
  background-color: #2e2e2e;
  border-radius: 10px;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  z-index: 9999;
}
form {
  margin: auto;
  width: 90%;
  height: 90%;
  padding: auto 0;
}
.form_label {
  color: #2fa1ff;
  font-size: 20px;
  font-family: sans-serif;
}
.formtext {
  color: #2fa1ff;
  font-size: 20px;
  font-family: sans-serif;
}

input[type="button"],
input[type="submit"] {
  font: bold 84% sans-serif;
  background-color: #fed;
  transform: scale(1.2);
}

#form_buttons {
  display: flex;
  align-items: flex-start;
  gap: 3%;
  margin-left: 5px;
}

.error {
  font-size: 20px;
  color: red;
}
